body {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Backgrounds/Bridge/forest bridge.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
  overflow: hidden;
}

.achievement-container {
  background-color: white;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 850px;
}
.title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 16px;
}

.button_text {
  font-size: 24px;
}

.container {
  margin-top: 16px;
  max-width: 800px;
  height: 320px;
}
.achievements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 20px;
  margin-top: 16px;
}
.achievement {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 24px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: 0.3s;
  line-height: 1.3;

  &:hover {
    transform: scale(1.05);
  }
}
.achievement img {
  width: 80px;
  height: 80px;
}
.locked {
  filter: grayscale(100%);
  opacity: 0.5;
}
.description {
  font-size: 20px;
  font-weight: 700;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.achievement-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content.show {
  animation: fadeInScale 0.2s forwards;
}

.popup-content.hide {
  animation: fadeOut 0.1s forwards;
}

.popup-content {
  background: white;
  padding: 24px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  position: relative;
}

.popup-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.popup-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-description {
  font-size: 24px;
  margin-bottom: 15px;
}