body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
}
.container {
  max-width: 800px;
  margin: 50px auto;
}
.achievements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.achievement {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background: #222;
  padding: 15px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: 0.3s;
}
.achievement img {
  width: 80px;
  height: 80px;
}
.locked {
  filter: grayscale(100%);
  opacity: 0.5;
}
.description {
  font-size: 20px;
  font-weight: 700;
}