body {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Backgrounds/Bridge/forest bridge.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
  overflow: hidden;
}

.achievement-container {
  background-color: white;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 32px;
  padding: 50px;
  height: 800px;
}
.title {
  text-align: center;
}

.button_text {
  font-size: 24px;
}

.container {
  max-width: 800px;
  height: 320px;
  margin: 50px auto;
}
.achievements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 20px;
}
.achievement {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background: #222;
  padding: 15px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: 0.3s;
}
.achievement img {
  width: 80px;
  height: 80px;
}
.locked {
  filter: grayscale(100%);
  opacity: 0.5;
}
.description {
  font-size: 20px;
  font-weight: 700;
}