body {
  background-color: #488158;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 3rem;
}

span {
  color: lightgreen;
}

.game-container {
  text-align: center;
}
.level-text {
  font-size: 24px;
  font-weight: bold;
}
.game-box {
  width: 250px;
  height: 200px;
  background-color: #5f7a3c;
  background-image: url("../assets/Backgrounds/Bridge/sky\ bridge.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.restart, .play {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}

.restart {
  background-color: #d9534f;
}
.play {
  background-color: #5cb85c;
}