@keyframes glitch {
  0% {
    text-shadow: 4px 4px #0f1923, -4px -4px gray;
  }
  25% {
    text-shadow: -4px -4px #0f1923, 4px 4px gray;
  }
  50% {
    text-shadow: 4px -4px #0f1923, -4px 4px gray;
  }
  75% {
    text-shadow: -4px 4px #0f1923, 4px -4px gray;
  }
  100% {
    text-shadow: 4px 4px #0f1923, -4px -4px gray;
  }
}

.glitch {
  animation: glitch 0.1s infinite alternate;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.shake {
  animation: shake 0.5s infinite;
}

.container-game-over {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url("/assets/Backgrounds/Forest/game_background_1.png");
}

.title {
  color: white;
  background-color: #ff4655;
  padding: 16px;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.level-text {
  font-size: 2rem;
}

.game-box {
  font-size: 12rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.game-over-box {
  border-radius: 24px 0 24px 0;
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

.button_text {
  font-size: 1.5rem;
  border-radius: 10px;
  color: white;
}
