#mainMenu {
  background-image: url(../assets/Backgrounds/Bridge/sky\ bridge.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container-main-menu {
  padding: 2rem;
  display: flex;
  gap: 4px;
}
.title {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: #0f1923;
  /* opacity: 100%; */
  /* position: relative; */
}
.main-char {
  /* background-color: green; */
  position: relative;
  top: 4rem;
  width: 30rem;
  height: 30rem;
}
.title_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* background-color: black; */
  /* opacity: 10%; */
  /* margin-left: 24px; */
  /* border-radius: 10px; */
}

.area_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  gap: 10px;
  border-radius: 5%;
}
.character-area {
  margin-right: 2rem;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  padding-bottom: 60px;
}

.btn-chars {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem;
  border-radius: 12px;
  height: 100px;
}

.area-action-and-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  margin-inline: 15rem;
  padding: 4rem;
}

.setting_sector {
  display: flex;
  width: 3rem;
  height: 3rem;
  background-color: red;
  margin-top: 2rem;
}
.action_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 100%;
}
.btn-main-menu {
  width: 26rem;
}
.btn-lg-main-menu {
  height: 5rem;
}
.btn-txt-main-menu {
  font-size: 1.8rem;
  font-weight: bold;
  top: 0.5rem;
}
.btn-switchHero {
  width: 24rem;
}
.btn-lg-switchHero {
  height: 3rem;
}
.btn-txt-switchHero {
  font-size: 1rem;
  font-weight: bold;
}

.button_text {
  position: relative;
  top: 15px;
}
.button_text1 {
  position: relative;
  top: 8px;
}