#mainMenu {
    background-image: url(../assets/Backgrounds/Bridge/sky\ bridge.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}
.title_section {
    display: flex ;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
}

.area_section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    padding: 2rem;
    background-color: transparent !important;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 2rem;
}


















































