.option-section-selection {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-inline: 40px;
    padding-bottom: 20px
}

.container-setting {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
        height: 200vh;

}

.header_bg {
    width: 100%;
    height: 30px;
    background-color: #0f1923;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header_title_border {
    position: relative;
    top: 20px;
    padding: 12px;
    width: 30%;
    border: 1px solid #0f1923;
    z-index: 2;
    background-color: transparent;
}

.header_title_border::before {
    content: "";
    position: absolute;
    top: 51.5%;
    left: 0;
    width: 105%;
    height: 12px;
    background-color: white;
    transform: translateY(-50%) translateX(-10px);
    z-index: -1;
}

.header_title_border::after {
    content: "";
    position: absolute;
    top: 53%;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: white;
    transform: translateY(-1%);
    z-index: -1;
}

.header_title {
    width: 100%;
    height: 45px;
    background-color: #0f1923;
    display: flex;
    justify-content: center;

    z-index: 3;
}

.header_title_text {
    color: white;
    font-size: 40px;
    font-weight: bold;
    transform: translateY(-15px);
}

.header-setting {
    width: 100%;
    /* height: 30px; */
    border: 1px solid #0f1923;
    padding-bottom: 12px;
}

.btn-setting {
    width: 12rem;
}

.main-setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    width: 100%;
    justify-content: center;
    height: 80vh !important;
    padding-inline: 10px;
    /* background-color: red; */
}

.option-menu {
    width: 50%;
    /* height: 100%; */
    display: grid;
    grid-template-rows: repeat(5, 40px);
    grid-template-columns: repeat(2, 1fr);
    /* background-color: beige !important; */
    gap: 20px;

}

.option-item {
    width: 100%;
    height: 100%;
    padding-inline: 10px;
    display: flex;
    justify-content: space-between;
}

.option-item-property {
    width: 72%;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
    background-color: #0f1923;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

}

.option-item-value {
    width: 28%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-right: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    clip-path: polygon(36% 0%, 100% 0, 100% 100%, 0% 100%);
    background-color: #ff4655;
}

.action-button { 
    margin-top: 40px;
    display: flex ;
    gap: 20px;
}