body {
  text-align: center;
  background-image: url("/assets/Backgrounds/Bridge/forest\ bridge.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #0f1923;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.hero-container {
  display: flex;
  max-width: 900px;
  background: #0f1923;
  padding: 20px;
  border-radius: 10px;
}

.hero-list {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.hero-option {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: background 0.3s;
}

.hero-option img.hero-icon-large {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.hero-display {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.hero-display img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

#hero-name {
  font-size: 56px;
}

.btn-switchHero {
  width: 30rem;
}
.btn-lg-switchHero {
  height: 5rem;
}
.btn-txt-switchHero {
  font-size: 2rem;
  font-weight: bold;
  top: 0.5rem;
}

.flex {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 24px;
}
.hero-option:hover {
  transition: all 0.2s ease-in-out;
  background: rgba(76, 175, 80, 0.9);
  transform: scale(1.03);
}

.locked {
  cursor: not-allowed; /* Mencegah interaksi */
  opacity: 0.5; /* Membuat transparan */
  filter: grayscale(80%); /* Menambahkan efek hitam-putih */
}

.button_text {
  position: relative;
  top: 15px;
}