body {
  text-align: center;
  background-image: url("/assets/Backgrounds/Bridge/forest\ bridge.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.hero-container {
  display: flex;
  width: 80%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 10px;
}

.hero-list {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-option {
  padding: 10px;
  background: rgba(000, 000, 000, 0.2);
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: background 0.3s;
}

.hero-option img.hero-icon-large {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.hero-display {
  width: 70%;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.hero-display img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

#hero-name {
  font-size: 56px;
}

.btn-switchHero {
  width: 30rem;
}
.btn-lg-switchHero {
  height: 5rem;
}
.btn-txt-switchHero {
  font-size: 2rem;
  font-weight: bold;
  top: 0.5rem;
}
