
@font-face {
    font-family: 'Jungle Adventurer';
    src: url('../assets/fonts/jungle_adventurer/JungleAdventurer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Jungle Adventurer', sans-serif;

}
